.custom-header {
    background-color: #F5F5F5 !important;
    border: none !important;
}

.page-header-content + .customDesing {
    background-color: #00796B !important;
    margin: 30px 20px 0px 20px !important;
    padding: 8px 20px 8px !important;
}

.customDesing .breadcrumb > li > a {
    color: #fff !important;
    font-size: 22px !important;
    line-height: 26px !important;
}

.customDesing .breadcrumb > li i {
    display: inline-block;
    font-size: 20px;
    margin: 2px 6px 0px 0;
    vertical-align: text-top;
}

.clientDashboard { border: none !important; }

.clientDashboard .panel-title { font-size: 16px !important; }

.panel-custome { border: none !important; }

.panel-heading-cs { border: none !important; }

.panel-group-control .panel-title > a { padding-left: 0px !important; }

.clientDashboardTbl td { border: none !important; }

.arrow-css i {
    font-size: 20px !important;
    margin: 0 6px 0 0 !important;
}

.arrow-click.arrow-css::before { content: '' !important; }