@model computan.timesheet.core.Credentials
@{ ViewBag.Title = "Add Credentials"; }
<div class="panel panel-default" id="maincontent">
    @Html.Partial("_NavTabs", "credentials")
    <div class="panel">
        <div class="panel-heading bg-teal-700">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <h4 class="ticket-title">
                        <span>Add New Credential </span>
                    </h4>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="checkbox checkbox-switchery">
                        <label>
                            @if (ViewBag.Readonly)
                            {
                                <input type="checkbox" value="true" name="linkedCred" id="linkedCred" class="switchery-primary" form="addcredentials" checked>
                            }
                            else
                            {
                                <input type="checkbox" value="true" name="linkedCred" id="linkedCred" class="switchery-primary" form="addcredentials">
                            }
                            Linked Credential
                        </label>
                    </div>
                    <div class="heading-elements">
                        <button class="label border-left-primary label-striped" onclick="window.location.href = '/credentials/index'">List Credentials</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            @Html.Partial("_AddCredentialForm", Model)
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/select2")
    <script src="~/Scripts/default/js/pages/uploader_bootstrap.js"></script>
    <script src="~/Scripts/default/js/plugins/uploaders/fileinput.min.js"></script>
    <script src="~/Scripts/default/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/Scripts/default/plugins/jquery.alphanum.min.js"></script>
}

<script type="text/javascript">
    $("#crendentialtypeid").select2();
    $("#projectid").select2();
    $("#credentiallevelid").select2();
    $("#credentialcategoryid").select2();
    $(function() {
        var primary = document.querySelector('.switchery-primary');
        var switchery = new Switchery(primary, { color: '#2196F3' });
    });
    $('#linkedCred').change(function() {
        if (this.checked) {
            $(".setdisable").prop("disabled", true).val("");
            $("#linkedCredential").prop("disabled", false);
        } else {
            $(".setdisable").prop("disabled", false);
            $("#linkedCredential").prop("disabled", true).val("");
        }
    });
    var uploadField = document.getElementById("file");
    uploadField.onchange = function() {
        if (this.files[0].size > 102400) {
            alert("File is bigger than 100KB!");
            this.value = "";
        };
    };
</script>