@model computan.timesheet.core.Credentials
@{ ViewBag.Title = "Edit Credentials"; }
<div class="panel panel-default" id="maincontent">
    @Html.Partial("_NavTabs", "credentials")
    <div class="panel">
        <div class="panel-heading bg-teal-700">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-7">
                        <h4 class="panel-title ticket-title">
                            <span>Edit Credential </span>
                        </h4>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="checkbox checkbox-switchery">
                            <label>
                                @if (ViewBag.Readonly)
                                {
                                    <input type="checkbox" value="true" name="linkedCred" id="linkedCred" class="switchery-primary" form="editcredentials" checked>
                                }
                                else
                                {
                                    <input type="checkbox" value="true" name="linkedCred" id="linkedCred" class="switchery-primary" form="editcredentials">
                                }
                                Linked Credential
                            </label>
                        </div>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                @if (ViewBag.IsProjectCredentials != null && ViewBag.IsProjectCredentials == true)
                                {
                                    <li>
                                        <button class="label border-left-primary label-striped" onclick="window.location.href = '/credentials/ProjectCredentials/@Model.projectid'">List Credentials</button>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <button class="label border-left-primary label-striped" onclick="window.location.href = '/credentials/index'">List Credentials</button>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body"> @Html.Partial("_EditCredentialForm", Model) </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/select2")
    <script src="~/Scripts/default/js/pages/uploader_bootstrap.js"></script>
    <script src="~/Scripts/default/js/plugins/uploaders/fileinput.min.js"></script>
    <script src="~/Scripts/default/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/Scripts/default/plugins/jquery.alphanum.min.js"></script>
}

<script type="text/javascript">
    $("#crendentialtypeid").select2();
    $("#projectid").select2();
    $("#credentiallevelid").select2();
    $("#credentialcategoryid").select2();
    $(function() {
        var primary = document.querySelector('.switchery-primary');
        var switchery = new Switchery(primary, { color: '#2196F3' });
    });
    $('#linkedCred').change(function() {
        if (this.checked) {
            $(".setdisable").prop("disabled", true).val("");
            $("#linkedCredential").prop("disabled", false);
        } else {
            $(".setdisable").prop("disabled", false);
            $("#linkedCredential").prop("disabled", true).val("");
        }
    });
    var uploadField = document.getElementById("file");
    uploadField.onchange = function() {
        if (this.files[0].size > 102400) {
            alert("File is bigger than 100KB!");
            this.value = "";
        };
    };
    $(document).ready(function() {
        $("#show_hide_password a").on('click',
            function(event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').addClass("fa-eye-slash");
                    $('#show_hide_password i').removeClass("fa-eye");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("fa-eye-slash");
                    $('#show_hide_password i').addClass("fa-eye");
                }
            });
    });
    ChangeStatus();
    $(".check-box").change(function() {
        ChangeStatus();
    });

    function ChangeStatus() {
        if ($("#isactive").is(':checked')) {
            $(".lbl-active").show();
            $(".lbl-deactive").hide();
        } else {
            $(".lbl-active").hide();
            $(".lbl-deactive").show();
        }
    }
</script>