.top_ticket .row { margin: 0; }

.top_ticket .row .col-md-6 { padding: 0; }

.top_ticket label {
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    margin: 0 -4px 6px 0;
    padding: 9px 12px;
    width: 25%;
}

.top_ticket .select2-container { width: 75.1% !important; }

#searchtext {
    max-width: 100%;
    width: 300px;
}

.filter-box { margin-left: auto; }

.form-inline { display: flex; }

.form-inline .form-group1 { padding-right: 20px; }

@media screen and (max-width: 1300px) {
    .form-inline { display: block; }

    .form-inline .form-group1 { margin-bottom: 20px; }

    .filter-box { margin-left: 0; }

    #liveticketfilter { width: auto; }
}

@media screen and (max-width: 1000px) {
    #searchtext {
        margin-bottom: 20px;
        width: 100%;
    }
}