<div class="modal fade" id="uniquebodymodel" role="dialog">
    <div class="modal-dialog conversationmodel" style="margin-bottom: 50px; margin-top: 100px; max-height: 85%; overflow-y: scroll; width: 75% !important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="conversationmodelbodydiv"> </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>